/* globais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


:root {
    --cor-fundo: #f2f2f2;
    --roxo:#7B2FF7;
    --lilas: #e5dbff;
    --amarelo-ouro: #ffe066;
    --salmao:#fcece4;
    --branco-padrao:#fff;
    --preto-fonte: #000000;
}


body {
    background: var(--cor-fundo);
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    line-height: 1.0;
    display: grid;
    place-content: center;
    color:var(--preto-fonte);
}

/* textos */

.eg-text, .g-text, .med-text { 
    font-weight: 500; 
}

.eg-text {
    font-size: 3.5rem;
}

.g-text {
    font-size: 2.25rem;
}

.med-text {
    font-size: 1.85rem;
}

.p-text {
    font-size: 1.2rem;
    font-weight: 400;
}




.container {
    display: grid;
    grid-auto-rows: 3.4375rem;
    gap: 2rem;
    grid-template-areas:
    "item-7 item-1 item-1 item-4"
    "item-7 item-1 item-1 item-4"
    "item-7 item-1 item-1 item-4"
    "item-7 item-1 item-1 item-4"
    "item-7 item-2 item-3 item-4"
    "item-8 item-2 item-3 item-4"
    "item-8 item-2 item-3 item-4"
    "item-8 item-6 item-5 item-5"
    "item-8 item-6 item-5 item-5"
    "item-8 item-6 item-5 item-5";
    padding: 1.25rem;
    max-width: 67.5rem;
    margin: 1rem auto;
}


.item-1, .item-5 { 
  background: var(--roxo); 
  color: var(--branco-padrao); 
  grid-area: item-1; 
}

.item-2, .item-6 { 
  background: var(--branco-padrao); 
  grid-area: item-2; 
}

.item-3, .item-8 { 
  background: var(--amarelo-ouro); 
  grid-area: item-3; 
}

.item-4 { 
  background: var(--lilas); 
  grid-area: item-4; 
}

.item-5 { 
  grid-area: item-5; 
}

.item-6 { 
  grid-area: item-6; 
}

.item-7 { 
  background: var(--salmao); 
  grid-area: item-7; 
}

.item-8 { 
  grid-area: item-8; 
}



.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    padding: 1.25rem;
    overflow: hidden;
}


/* Item 1 */

.item-1 h1 {
    text-align: center;
    margin-block-end: 1.25rem;
}


.item-1 h1 strong {
    color: var(--amarelo-ouro);
    font-weight: 500;
    font-size: 3.9rem;
}

.item-1 span {
  font-style: italic;
}

.item-1 p {
    padding-block-start: 0.625rem;
}

.item-1 img {
    width: 35%;
}

/* Item 2 */

.item-2 {
    position: relative;
}

.item-2 p {
    position: absolute;
    inset-block-end: 1.25rem;
    inset-inline-start: 1.25rem;
}

.item-2 img {
    position: absolute;
    inset-block-start: 1.25rem;
    inset-inline-start: 1.25rem;
    width: 120%;
}



/* Item 3 */

.item-3 {
    position: relative;
}

.item-3 p {
    position: absolute;
    inset-block-start: 0.625rem;
    inset-inline-start: 1.25rem;
}

.item-3 img {
    position: absolute;
    width: 85%;
    inset-block-start: 8.75rem;
}



/* Item 4 */

.item-4 {
    position: relative;
}

.item-4 h2 {
    position: absolute;
    inset-block-start: 40px;
    inset-inline-start: 20px;
}

.item-4 p {
    position: absolute;
    inset-block-end: 2.5rem;
    inset-inline-start: 1.25rem;
}

.item-4 img {
    position: absolute;
    inset-block-start: 7.5rem;
    inset-inline-start: 1.25rem;
    width: 150%;
}



/* Item 5 */

.item-5 {
    flex-direction: row;
    justify-content: space-between;
}

.item-5 p {
    padding-inline-start: 0.625rem;
}


.item-5 img {
    height: 100%;
    
}

/* Item 6 */

.item-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;     
    text-align: left;            
}

.item-6 span {
    text-align: left;
    padding-block-end: 0.625rem;
}

.item-6 p {
    margin-block-end: 2.18rem;
}

.item-6 img {
    width: 80%;
}

/* Item 7 */

.item-7 p {
    margin-block-end: 1.25rem;
}

.item-7 span {
    color: var(--roxo);
    font-style: italic;
}

.item-7 img {
    width: 90%; 
}


/* Item 8 */

.item-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.item-8 p {
    padding-block-start: 0.625rem;
}

.item-8 img {
    width: 100%;
}


/* Responsividade */

@media (max-width: 60rem) { 
    .container {
        grid-auto-columns: 1fr;
        grid-auto-rows: 0.7fr 1fr ;
        grid-template-areas:
        "item-1 item-1"
        "item-7 item-4"
        "item-2 item-3"
        "item-8 item-6"
        "item-5 item-5";
    }

    .item-2 p, .item-2 img, .item-4 img {
        position: relative;
        inset: auto;
    }

    .item-2 p {
        margin-block-start: 2.5rem;
    }

    .item-2 img, .item-4 img {
        max-width: 90%;
    }

    .item-6, .item-2 {
        justify-content: center;
    }

    .item-6 p {
        margin-block-start: 1.25rem;
    }

    .item-8 p {
        margin-block-end: 1.25rem;
    }
}


@media (max-width: 48rem){
    .container {
        grid-auto-rows: auto;
        grid-template-areas:
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        "item-5"
        "item-6"
        "item-7"
        "item-8";
    }

    .item-1 {
        padding: 2.5rem 1.25rem;
    }

    .item-3, .item-8 {
        display: flex;
        text-align: left;
        align-items: flex-start;
    }

    .item-3 p, .item-3 img{
        position: relative;
        inset-inline-start: auto;
        
    }
    .item-3 img {
        inset-block-start: 2.5rem;
        max-width: 70%;
    }

    .item-4 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .item-4 h2, .item-4 p {
        position: relative;
        inset: auto;
    }

    .item-4 h2 {
        inset-inline-start: auto;
        padding-block-end: 1.25rem;
    }


    .item-4 p {
        max-width: 90%;
    }


    .item-4 img {
        max-width: 100%;
        padding-block-end: 1.25rem;
    }

    .item-5 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 1.25rem 2.5rem;
    }

    .item-5 img {
        position: relative;
        max-width: 90%;
    }

    .item-5 p {
        position: relative;
        padding-block-start: 2.5rem;
    }

  

    .item-8 {
        flex-direction: column;
    }


    .item-8 img {
        max-width: 70%;
    }
}
