/* globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

:root {
    --cor-fundo: #f2f2f2;
    --roxo: #7B2FF7;
    --lilas: #e5dbff;
    --amarelo-ouro: #fccb6b;
    --salmao: #fcece4;
    --branco-padrao: #fff;
    --preto-fonte: #000000;

    /* fontes */
    --fs-xxl: clamp(3.5rem, 3.32rem + 0.89vw, 4rem);
    --fs-xl: clamp(2.5rem, 2.43rem + 0.36vw, 2.7rem);
    --fs-lg: clamp(2.1rem, 1.82rem + 0.89vw, 2.5rem);
    --fs-md: 1.36rem;
}

/* media queries fontes */


body {
    background: var(--cor-fundo);
    font-family: "DM Sans", sans-serif;
    line-height: 1;
    display: grid;
    place-content: center;
    color: var(--preto-fonte);
    padding: 1rem;
}

.eg-text,
.g-text {
    font-weight: 500;
    line-height: 0.9;
}

.eg-text {
    font-size: var(--fs-xxl);
}

.g-text {
    font-size: var(--fs-xl);
}

.med-text {
    font-size: var(--fs-lg);
    font-weight: 600;
    letter-spacing: -0.0625rem;
    word-spacing: -0.0625rem;
    line-height: 0.9;
}

.p-text {
    font-size: var(--fs-md);
    font-weight: 400;
}


.container {
    display: grid;
    gap: 2.5rem;
    max-width: 82rem;
    width: 100%;
    grid-template-areas:
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        "item-5"
        "item-6"
        "item-7"
        "item-8";
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    padding: 1.25rem;
    overflow: hidden;
}

/* Áreas do grid */

.item-1 {
    grid-area: item-1;
}

.item-2 {
    grid-area: item-2;
}

.item-3 {
    grid-area: item-3;
}

.item-4 {
    grid-area: item-4;
}

.item-5 {
    grid-area: item-5;
}

.item-6 {
    grid-area: item-6;
}

.item-7 {
    grid-area: item-7;
}

.item-8 {
    grid-area: item-8;
}

/* cores por card */
.item-1,
.item-5 {
    background: var(--roxo);
    color: var(--branco-padrao);
}

.item-2,
.item-6 {
    background: var(--branco-padrao);
}

.item-3,
.item-8 {
    background: var(--amarelo-ouro);
}

.item-4 {
    background: var(--lilas);
}

.item-7 {
    background: var(--salmao);
}


/* ajustes mobile-first */

.item-1 {
    align-items: center;
    text-align: center;
    padding: 3rem 2.5rem;
}

.item-1 strong {
    color: var(--amarelo-ouro);
    font-weight: 500;
}

.item-1 span {
    font-style: italic;
}


.item-1 img {
    width: 12.5rem;
    padding-block-start: 1.25rem;
}

.item-1 p {
    padding: 0.625rem;
}

.item-2 p {
    padding: 0.1rem;
}


.item-2 img,
.item-4 img {
    max-width: 100%;
}


.item-3,
.item-6,
.item-7,
.item-8 {
    text-align: left;
    align-items: flex-start;
}

.item-3 p {
    position: relative;

}


.item-3 img {
    position: relative;
    top: 2.5rem;
    max-width: 70%;

}


.item-4 h2,
.item-7 p,
.item-8 p {
    padding-block-end: 2rem;
}


.item-4 p {
    padding: 2.5rem 1rem 1rem;
    text-align: center;
    line-height: 1.1;
}

.item-5 img,
.item-7 img,
.item-8 img {
    max-width: 70%
}

.item-5 p {
    padding: 2.5rem 2rem 1rem;
    text-align: center
}

.item-6,
.item-7,
.item-8 {
    padding: 2rem;
}

.item-6 span,
.item-6 p {
    padding-block-end: 1.25rem;
}

.item-6 img {
    max-width: 60%;
}


.item-7 span {
    color: var(--roxo);
    font-style: italic;
}

/* tablet */

@media (min-width:48rem) {
    .container {
        grid-auto-columns: 1fr;
        grid-auto-rows: 0.7fr 1fr;
        grid-template-areas:
            "item-1 item-1"
            "item-7 item-4"
            "item-2 item-3"
            "item-8 item-6"
            "item-5 item-5";
    }

    .item-3 {
        position: relative;

    }

    .item-3 p,
    .item-3 img {
        position: absolute;
    }

    .item-3 p {
        inset-block-start: 0.625rem;
        inset-inline-start: 1.25rem;
    }

    .item-3 img {
        min-width: 85%;
        inset-block-start: 10.5rem;
    }



    .item-5 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .item-5 img {
        min-width: 42%;
    }

    .item-5 p {
        text-align: left;
    }

    .item-7 img {
        min-width: 100%;
    }

    .item-8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .item-8 img {
        min-width: 110%;
    }
}



@media (min-width:64rem) {
    .container {
        grid-auto-rows: 4.1rem;
        grid-template-areas:
            "item-7 item-1 item-1 item-4"
            "item-7 item-1 item-1 item-4"
            "item-7 item-1 item-1 item-4"
            "item-7 item-1 item-1 item-4"
            "item-7 item-2 item-3 item-4"
            "item-8 item-2 item-3 item-4"
            "item-8 item-2 item-3 item-4"
            "item-8 item-6 item-5 item-5"
            "item-8 item-6 item-5 item-5"
            "item-8 item-6 item-5 item-5";
        margin: 1rem auto;
    }

    .item-2,
    .item-4 {
        position: relative;
    }

    .item-2 p,
    .item-2 img,
    .item-4 h2,
    .item-4 p,
    .item-4 img {
        position: absolute;
    }

    .item-2 p {
        inset-block-end: 1.25rem;
        inset-inline-start: 1.25rem;
    }

    .item-2 img {
        inset-block-start: 1.25rem;
        inset-inline-start: 1.25rem;
        min-width: 125%;
    }



    .item-4 h2,
    .item-4 p,
    .item-4 img {
        align-items: flex-start;
        text-align: left;
    }


    .item-4 h2 {
        inset-block-start: 2rem;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;

    }

    .item-4 p {
        inset-block-end: 2rem;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }

    .item-4 img {
        inset-block-start: 8.4rem;
        left: 2rem;
        min-width: 150%;
    }



    .item-6 span {
        text-align: left;
        padding-block-end: 1.25rem;
    }

    .item-6 p {
        padding-block-end: 2.5rem;
    }

    .item-6 img {
        min-width: 85%;
    }


}